In [7]:
import pandas as pd
import numpy as np

In [117]:
cleaned_sba = pd.read_csv("output.csv")
gdp_by_industry = pd.read_csv("../cleaned_data/GDPByIndPct1990-2014.csv",sep="\t")
hpi_by_state = pd.read_csv("../cleaned_data/HPI_State.csv",sep="\t")
cpi_bread = pd.read_csv("../cleaned_data/CPI_Bread_White.csv",sep="\t")
sp500_yearly = pd.read_csv("../cleaned_data/SP500_yearly_return.csv")

In [114]:
gdp_by_industry.head()

,Line,NAICS Code,Industry,1990,1991,1992,1993,1994,1995,1996,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,1,NaN,Gross domestic product,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
1,2,NaN,Private industries,85.5,85.0,85.1,85.3,85.7,85.9,86.3,...,86.8,86.9,86.8,86.4,85.7,85.7,86.0,86.4,86.7,86.9
2,3,11,Agriculture forestry fishing and hunting,1.6,1.4,1.5,1.3,1.4,1.2,1.4,...,1.0,0.9,1.0,1.0,1.0,1.1,1.3,1.2,1.3,1.2
3,6,21,Mining,1.5,1.3,1.1,1.1,1.0,1.0,1.1,...,1.7,2.0,2.2,2.7,2.0,2.2,2.6,2.5,2.7,2.8
4,10,22,Utilities,2.4,2.5,2.5,2.4,2.4,2.3,2.2,...,1.5,1.7,1.6,1.6,1.7,1.8,1.8,1.6,1.6,1.6

In [121]:
gdp_by_industry.fillna("NA")
cleaned_sba.columns.values
hpi_by_state.head()
sp500_yearly.head()

     Year  Average yearly return
0  1990.0               0.180581
1  1991.0               0.441059
2  1992.0               0.076905
3  1993.0               0.090944
4  1994.0               0.045372

In [130]:
sba_w_macroecon = pd.merge(cleaned_sba,sp500_yearly,left_on='ApprovalFiscalYear',right_on='Year',how='left').drop("Year", axis=1).rename(index=str, columns={"Average yearly return": "SP500_Yearly_Return"})

In [131]:
sba_w_macroecon = pd.merge(sba_w_macroecon,cpi_bread,left_on='ApprovalFiscalYear',right_on='Year',how='left').drop("Year", axis=1).rename(index=str, columns={"Average": "CPI"})

In [132]:
sba_w_macroecon.columns.values

array(['Unnamed: 0', 'BorrName', 'BorrStreet', 'BorrCity', 'BorrState',
       'BorrZip', 'CDC_Name', 'CDC_Street', 'CDC_City', 'CDC_State',
       'CDC_Zip', 'ThirdPartyLender_Name', 'ThirdPartyLender_City',
       'ThirdPartyLender_State', 'ThirdPartyDollars', 'GrossApproval',
       'ApprovalDate', 'ApprovalFiscalYear', 'DeliveryMethod',
       'subpgmdesc', 'InitialInterestRate', 'TermInMonths', 'NaicsCode',
       'NaicsDescription', 'ProjectCounty', 'ProjectState', 'BusinessType',
       'LoanStatus', 'ChargeOffDate', 'GrossChargeOffAmount',
       'SP500_Yearly_Return', 'CPI'], dtype=object)

In [133]:
hpi_by_state.columns.values

array(['State Abbreviation', 'FIPS', 'Year', 'HPI'], dtype=object)

In [134]:
sba_w_macroecon = pd.merge(sba_w_macroecon,hpi_by_state,left_on=['ProjectState','ApprovalFiscalYear'],right_on=['State Abbreviation','Year'],how='left').drop(["State Abbreviation","Year","FIPS"], axis=1)

In [135]:
sba_w_macroecon.to_csv("SBA_Macroecon.csv")

In [136]:
gdp_by_industry.columns

Index([u'Line', u'NAICS Code', u'Industry', u'1990', u'1991', u'1992', u'1993',
       u'1994', u'1995', u'1996', u'1997', u'1998', u'1999', u'2000', u'2001',
       u'2002', u'2003', u'2004', u'2005', u'2006', u'2007', u'2008', u'2009',
       u'2010', u'2011', u'2012', u'2013', u'2014'],
      dtype='object')